.paper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avater {
  margin: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit {
  margin-top: 24px;
  margin-bottom: 16px;
}